# Upstart job for ganglia-monitor
description "Ganglia!"
author "Joshua McKenty <joshua@pistoncloud.com>"

console log

env LOG=/var/log/pipe/gmond.log

respawn

env PIDFILE="/var/run/ganglia-monitor.pid"

stop on shutdown-$shutdown_bucket

exec /usr/sbin/gmond --pid-file=$PIDFILE >> "\$LOG" 2>&1